<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @pitch.player %>
</p>

<p>
  <b>All:</b>
  <%= @pitch.all %>
</p>

<p>
  <b>Take:</b>
  <%= @pitch.take %>
</p>

<p>
  <b>Game:</b>
  <%= @pitch.game_id %>
</p>


<%= link_to 'Edit', edit_pitch_path(@pitch) %> |
<%= link_to 'Back', pitches_path %>
